.hero {
    position: relative;
    background-image: url('../images/pancakes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    .background-fade {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), 30%, rgba(0, 0, 0, 1) 80%);
        
        @include breakpoint(medium) {
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), 30%, rgba(0, 0, 0, 1) 80%);
        }
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: calc(100% - $header-height);
        padding: 0 40px;

        @include breakpoint(medium) {
            max-width: 40%;
            margin: 0 0 0 auto;
        }

        h1 {
            color: white;
            font-size: 3.6rem;
            width: 100%;

            @include breakpoint(medium) {
                width: auto;
            }

        }
    }
}