.hero {
    position: relative;
    background-image: url('../images/pancakes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    .background-fade {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), 30%, rgba(0, 0, 0, 1) 80%);
        z-index: 0;
        @include breakpoint(medium) {
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), 30%, rgba(0, 0, 0, 1) 80%);
        }
    }


    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 300px;
        width: 100%;
        padding: 0 40px 40px 40px;
        h1 {
            color: white;
            font-size: 4rem;
            width: 100%;

        }
        @include breakpoint(medium) {
            max-width: 40%;
            margin: 0 0 0 auto;
            h1 {
                width: auto;
            }
        }
    }
}