.reviews {
    background: black;
    color: white;
    padding: 40px 0;
    
    h2 {
        padding: 40px;

        @include breakpoint(medium) {
            padding: 20px;
        }
    }

    .reviews-carousel {

        .slick-list {
            overflow-y: visible;

            .review {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 20px;
                background: white;
                color: black;
                margin: 10px;
                width: 270px;
                height: 400px;
                transition: transform .3s; // same speed of the carousel
                
                &.slick-center {
                    transform: scale(1.1);
                }
                
                @include breakpoint(medium) {
                    margin: 20px;
                    width: 500px;
                }
                
                .review__author {
                    text-align: right;
                }
            }
        }
    }
}