html {
  font-size: calc(1rem + 0.5vw);
  scroll-behavior: smooth;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-btn {
  position: relative;
  height: 50px;
  width: 50px;
}
.navbar-btn span {
  position: absolute;
  width: 100%;
  height: 0;
  background: white;
  border: 2px solid white;
  left: 0;
  transition: all 0.3s;
}
.navbar-btn span:nth-child(1) {
  top: 10%;
}
.navbar-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.navbar-btn span:nth-child(3) {
  bottom: 10%;
}
.navbar-btn.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.navbar-btn.active span:nth-child(2) {
  opacity: 0;
}
.navbar-btn.active span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
@media screen and (min-width: 899px) {
  .navbar-btn {
    display: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-size: 1rem;
  transition: all 0.3s;
}

.btn-primary {
  background: white;
  color: black;
}
.btn-primary:hover {
  background: #c5c5c5;
}

.btn-secondary {
  background: black;
  color: white;
}
.btn-secondary:hover {
  background: #3f3f3f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 40px;
  color: white;
  z-index: 50;
}
header .logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.6rem;
}
header .logo.logo-mobile {
  display: block;
}
@media screen and (min-width: 899px) {
  header .logo.logo-mobile {
    display: none;
  }
}
header .logo.logo-desktop {
  display: none;
}
@media screen and (min-width: 899px) {
  header .logo.logo-desktop {
    display: block;
  }
}
@media screen and (min-width: 899px) {
  header {
    padding: 0 40px;
  }
}
header nav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  background: black;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 50;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 30px 0;
}
header nav ul li.nav-item {
  height: 30px;
}
@media screen and (min-width: 899px) {
  header nav ul li.nav-item::after {
    content: "";
    display: block;
    margin: 10px 0 0 0;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.3s;
  }
  header nav ul li.nav-item:hover::after {
    width: 100%;
  }
}
@media screen and (min-width: 899px) {
  header nav {
    position: static;
    height: auto;
    background: none;
  }
  header nav ul {
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    width: 500px;
    margin: 0 0 0 auto;
  }
}
header .navbar-btn.active ~ nav {
  height: 270px;
}

.hero {
  position: relative;
  background-image: url("../images/pancakes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.hero .background-fade {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), 30%, rgb(0, 0, 0) 80%);
}
@media screen and (min-width: 899px) {
  .hero .background-fade {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), 30%, rgb(0, 0, 0) 80%);
  }
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - 100px);
  padding: 0 40px;
}
@media screen and (min-width: 899px) {
  .hero .hero-content {
    max-width: 40%;
    margin: 0 0 0 auto;
  }
}
.hero .hero-content h1 {
  color: white;
  font-size: 3.6rem;
  width: 100%;
}
@media screen and (min-width: 899px) {
  .hero .hero-content h1 {
    width: auto;
  }
}

.about {
  grid-template-areas: "desc1 img1" "img2 desc2";
  overflow: hidden;
}
@media screen and (min-width: 899px) {
  .about {
    display: grid;
  }
}
.about .grid-cell {
  min-height: 100vw;
}
@media screen and (min-width: 899px) {
  .about .grid-cell {
    min-height: auto;
    height: 50vw;
    width: 50vw;
  }
}
.about .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  font-size: 1.1rem;
}
.about .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .about__description1 {
  grid-area: desc1;
}
.about .about__image1 {
  grid-area: img1;
  background-image: url("../images/coffee-square.jpg");
}
.about .about__description2 {
  grid-area: desc2;
}
.about .about__image2 {
  grid-area: img2;
  background-image: url("../images/barista-using-coffee-machine-cafe-square.jpg");
}

.menu {
  background: black;
  color: white;
  padding: 40px;
  font-family: "Amatic SC", cursive;
}
.menu .vl {
  display: none;
}
@media screen and (min-width: 899px) {
  .menu .vl {
    display: block;
    width: 0;
    height: 600px;
    border: 2px solid white;
    margin: 0 80px;
  }
}
@media screen and (min-width: 899px) {
  .menu .menu-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
  }
}
.menu .menu-lists .menu-list {
  list-style: none;
  width: 100%;
}
.menu .menu-lists .menu-list .menu-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}
@media screen and (min-width: 899px) {
  .menu .menu-lists .menu-list .menu-list-item {
    margin: 60px 0;
  }
}
.menu .menu-lists .menu-list .menu-list-item .details-col p {
  margin: 0 0 0 20px;
}
.menu .menu-lists .menu-list .menu-list-item .price-col {
  font-size: 1.3rem;
}
.menu a.btn.btn-primary {
  font-weight: 700;
}

.reviews {
  background: black;
  color: white;
  padding: 40px 0;
}
.reviews h2 {
  padding: 40px;
}
@media screen and (min-width: 899px) {
  .reviews h2 {
    padding: 20px;
  }
}
.reviews .reviews-carousel .slick-list {
  overflow-y: visible;
}
.reviews .reviews-carousel .slick-list .review {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background: white;
  color: black;
  margin: 10px;
  width: 270px;
  height: 400px;
  transition: transform 0.3s;
}
.reviews .reviews-carousel .slick-list .review.slick-center {
  transform: scale(1.1);
}
@media screen and (min-width: 899px) {
  .reviews .reviews-carousel .slick-list .review {
    margin: 20px;
    width: 500px;
  }
}
.reviews .reviews-carousel .slick-list .review .review__author {
  text-align: right;
}

.contact {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 899px) {
  .contact {
    flex-direction: row-reverse;
  }
  .contact .col {
    width: 50%;
  }
}
.contact h2 {
  margin: 0 0 20px 0;
}
.contact .contact__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}
.contact .contact__details .social-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 2rem;
}
.contact .contact__details .social-nav .social-item {
  display: block;
  color: black;
  transition: all 0.3s;
}
.contact .contact__details .social-nav .social-item:hover {
  transform: scale(1.1);
}
.contact .contact__form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/burrito.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  color: white;
}
.contact .contact__form form {
  background: black;
  width: 70%;
  padding: 20px;
}
.contact .contact__form form h3 {
  margin: 0 0 20px 0;
}
.contact .contact__form form .form-group {
  margin: 20px 0;
}
.contact .contact__form form .form-group input {
  height: 40px;
}
.contact .contact__form form .form-group input, .contact .contact__form form .form-group textarea {
  width: 100%;
}

footer {
  padding: 10px 0;
  background: white;
  color: gray;
  text-align: center;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */